# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.myvenv/
.myprojectenv/
myprojectenv/
# In case pipx or other local installs
.local/

# VS Code files
.vscode/

# dotenv
.env

# macOS
.DS_Store
.png