name: Run Python Script on Schedule

on:
  schedule:
    - cron: '0 */4 * * *'  # Runs every 4 hours (adjust the cron expression as needed)
  push:
    branches:
      - main  # Run the job when changes are pushed to the main branch

jobs:
  run_script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'  # Specify the Python version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt  # Install dependencies from requirements.txt

      - name: Run Python script
        run: |
          python main.py  # Your main Python script
